/* ---------- *
 * Article Intro *
 * ---------- */



.article-intro {
	@extend %clearfix;
	background: $border;
	border-left: 6px solid $secondary;
	padding: 1em;
  margin-bottom: .5em;
}

.article-intro__title {
	font-size: 1.5em;
	padding-bottom: .25em;
}

.article-intro__location{
	color: $secondary;
	padding-bottom: 0;
}

.article-intro__date{
	color: $secondary;
	padding-bottom: 1em;

}

.icon-grid, .single a[rel="prev"], .single a[rel="next"]  {
	font-size: 1.5em;
  padding: .25em;
  background: $shadow;
  color: $secondary;
	&:hover {
    background: $secondary;
		color: $background;
	}
  @include bp(small) {
    font-size:1.25em;
  }
  @include bp(medium) {
    font-size:1em;
  }
}

.article-intro div {
	@include span-columns(12);
	padding-bottom: 1em;
	@include bp(medium) {
	 	@include span-columns(4);
	}
}

.article-intro__description {
	margin-bottom: 0;
	@include span-columns(12);
	@include bp(medium) {
	    @include span-columns(8);
	}

}

.article-intro p {
	margin-bottom:0;
}

.return-top {
	background: lighten($secondary, 10%);
	color: $background;
	display: block;
	text-align: center;
	width: 100%;
	font-size: .85em;
	cursor: pointer;
	padding: 1em;
  margin-top: .4em;


	@include bp(large) {
	    padding: .75em;
	}
  &:hover {
  	background: $secondary;
  }
}
