/* ---------- *
 *    BLOG    *
 * ---------- */

.blog-list li:nth-child(even) .blog-post__img {
  @include bp(medium) {
    @include shift(4);
  }
}

.blog-list li:nth-child(even) .blog-post__details {
  @include bp(medium) {
    @include shift(-12);
  }
}

.blog-list {
  margin-bottom: 1em;
  @extend %clearfix;
}

.blog-post {
  margin-bottom: -2px;
  @extend %clearfix;
  padding: 1em;
  border-top: 2px solid $shadow;
  border-bottom: 2px solid $shadow;
  color: $secondary;
  &:hover {
    color: $base;
    background: $border;
  }
}

.blog-post__img {
  @include bp(medium) {
    @include span-columns(8);
  }
}

.blog-post__details {
  @include bp(medium) {
    @include span-columns(4);
  }
}

.blog-post__title {
  font-size: 1.25em;
  padding-bottom: .25em;
}

.blog-post__date {
  margin-bottom: .25em;
}

.blog-post__comments {
  margin-bottom: .25em;
}
