.btn {
	display: inline-block;
	background: $highlight;
	color: white;
	padding: 1em 1.55em;
	@include bp(medium) {
	  	padding: .76em 1.65em;
	}
}

.no-touch .btn:hover {
	background: darken( $highlight, 5% );
	color: white;
}

.btn-pagination {
	margin-top: 1em;
	@include span-columns(3.2);
	text-align: center;
	color: $background;
	background: $highlight;
	padding: 1em 1.55em;
	@include bp(medium) {
			padding: .76em 1.65em;
	}
}

.no-touch .btn-pagination:hover {
	background: darken( $highlight, 5% );
}

.btn-pagination--prev {
	float: right;
}

.btn-pagination--next {
	float: left;
}
