.btn {
	font-size: .85em;
	display: inline-block;
	background: $highlight;
	color: white;
	padding: 1em 1.55em; 
	@include bp(medium) {
	  	padding: .76em 1.65em;  
	}
	 
	&:hover {
		background: darken( $highlight, 5% );
		color: white;
	}
}

.btn--small {
		padding: .55em .6em!important; 
		@include bp(small) {
			font-size: .75em!important;
			padding: .3em .6em!important;   
		}
	}