.btn {
	font-size: .85em;
	display: inline-block;
	background: $highlight;
	color: white;
	padding: 1em 1.55em;
	@include bp(medium) {
	  	padding: .76em 1.65em;
	}
}

.no-touch .btn:hover {
	background: darken( $highlight, 5% );
	color: white;
}


.btn--small {
		padding: .55em .6em!important;
		@include bp(small) {
			font-size: .75em!important;
			padding: .3em .6em!important;
		}
	}

.btn-pagination {
	@include span-columns(3.2);
	text-align: center;
	color: $background;
	background: lighten($secondary, 10%);
	font-size: .85em;
	padding: 1em 1.55em;
	@include bp(medium) {
			padding: .76em 1.65em;
	}
}

.no-touch .btn-pagination:hover {
	background: $secondary;
}

.btn-pagination--prev {
	float: right;
}

.btn-pagination--next {
	float: left;
}
