/* ---------- *
 * Datepicker *
 * ---------- */

 .ui-datepicker {
 	background-color: #fff;
 	border: 1px solid $border;
 	display: none;
 	margin-top: 4px;
 	padding: 10px;
 	width: 240px;
 }
 .ui-datepicker a,
 .ui-datepicker a:hover {
 	text-decoration: none;
  color: $base;
 }
 .ui-datepicker a:hover,
 .ui-datepicker td:hover a {
 	color: $background;
 	-webkit-transition: color 0.1s ease-in-out;
 	   -moz-transition: color 0.1s ease-in-out;
 	     -o-transition: color 0.1s ease-in-out;
 	        transition: color 0.1s ease-in-out;
 }
 .ui-datepicker .ui-datepicker-header {
 	margin-bottom: 4px;
 	text-align: center;
 }
 .ui-datepicker .ui-datepicker-title {
 	font-weight: bold;
 }
 .ui-datepicker .ui-datepicker-prev,
 .ui-datepicker .ui-datepicker-next {
  webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
 	cursor: default;
 	font-family: 'icons';
 	-webkit-font-smoothing: antialiased;
 	font-style: normal;
 	font-weight: normal;
 	height: 20px;
 	line-height: 1;
 	margin-top: 2px;
 	width: 30px;
 }
 .ui-datepicker .ui-datepicker-prev {
 	float: left;
 	text-align: left;
  &:hover {
    cursor: pointer;
    color: $highlight;
  }
 }
 .ui-datepicker .ui-datepicker-next {
 	float: right;
 	text-align: right;
  &:hover {
    cursor: pointer;
    color: $highlight;
  }
 }
 .ui-datepicker .ui-datepicker-prev:before {
 	content: "\e601";
 }
 .ui-datepicker .ui-datepicker-next:before {
 	content: "\e602";
 }
 .ui-datepicker .ui-icon {
 	display: none;
 }
 .ui-datepicker .ui-datepicker-calendar {
   table-layout: fixed;
 	width: 100%;
 }
 .ui-datepicker .ui-datepicker-calendar th,
 .ui-datepicker .ui-datepicker-calendar td {
 	text-align: center;
 	padding: 4px 0;
 }
 .ui-datepicker .ui-datepicker-calendar td {
 	border-radius: 4px;
 	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
 	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
 	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
 	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
 }
 .ui-datepicker .ui-datepicker-calendar td:hover {
 	background-color: $highlight;
 	cursor: pointer;
 }
 .ui-datepicker .ui-datepicker-calendar td a {
 	text-decoration: none;
 }
 .ui-datepicker .ui-datepicker-current-day {
 	background-color: $highlight;
 }
 .ui-datepicker .ui-datepicker-current-day a {
 	color: white;
 }
 .ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
 	background-color: white;
 	cursor: default;
 }

 .ui-datepicker-unselectable {
   color: darken($border, 15%);
 }
