/* ---------- *
 *   FOOTER   *
 * ---------- */

.site-footer{
	width: 100%;
	background: lighten($base, 15%);
	height: 70px;
	color: $tertiary;
	text-align: center;
	position: relative;
	@include bp(small) {
		height: 120px;
	}
 }

.site-footer section {
	margin: 0 auto;
	padding: 0;
	@include bp(small) {
		padding: 0 .9em;
	}
	@include bp(medium) {
		@extend .container;
	}
}

.social-icons {
	float: none;
	position: relative;
	@include bp(small) {
		right: .5em;
		float: left;
	}
}

.site-footer a {
	display: inline-block;
	font-size: 1.25em;
	width: 33.33333333333333%;
	height: 70px;
	float: left;
	color: darken($border, 15%);
	overflow: hidden;
	border-right: 1px solid $border;
	margin: 0;
	padding: 0;
	@include bp(small) {
		border: none;
		display: inline;
		width: auto;
		font-size: 1em;
		float: none;
		margin: 0 .5em;
	}
}

.no-touch .site-footer a:hover {
		background: $highlight;
		color: white;
		@include bp(small) {
			background: none;
			color: white;
		}
	}

.site-footer .icon-facebook, .site-footer .icon-pinterest, .site-footer .icon-instagram {
	line-height: 80px;
	@include bp(small){
		line-height: 120px;
	}
}

.site-footer .icon-instagram {
	border: none;
}

//Copyright
.copyright {
	display: none;
	@include bp(small) {
		display: block;
		float: right;
		color: darken($border, 15%);
		position: relative;
		line-height: 120px;
		font-size: .95em;
	  @include bp(medium) {
	      font-size: .85em;
	  }
	  @include bp(large) {
	      font-size: .75em;
	  }
	}
}
