/* ---------- *
 * Page-Galleries  *
 * ---------- */

.gallery-list {
	margin: 0;
	padding: 0;
	text-align: center;
	a {
		@include span-columns(12);
		display: inline-block;
		padding: 1em 0;
		color: $secondary;
		text-align: center;
		border-top: 2px solid $shadow;
		margin: 0 auto;
	}
	a:hover {
		background: $border;
		color: $base;
	}

	li {
		@include bp(small) {
		 	margin-bottom: -.2em;   
		}
		 
	}
}

.gallery-list__title {
	font-size: 1.5em;
	margin: 0;
}

.gallery-list__description {
	text-align: left;
	margin-top: .5em;
	font-size: .85em;
	@include bp(small) {
	    font-size: .8em;
	}
	 
}
.gallery-list__container {
	text-align: left;
	padding-left: .25em;
	@include bp(small) {
		float: left;
		text-align: left;
		padding-left: 1em;   
		}
	}



.gallery-list__image {
		float: left;
		padding-left: .25em;
		padding-right: .25em;
		@include bp(small) {
		 		max-width: 33.3333333%;   
		}
	}


