/* ---------- *
 * Intro Paragraph *
 * ---------- */

.home-intro {
	margin: 1.5em auto -1.5em;
	@include row(block, RTL);
	@include span-columns(12);
	@include bp (medium){
		@include span-columns(8);
	}
}
.home-intro {
	@include row(block, LTR);
}

.home-intro__title {
	@include span-columns(12);
	margin: 0 0 1em 0;
	font-size: 1.25em;
	border-left: .25em solid $secondary;
	padding-left: 10px;
	font-weight: 300;
	@include bp(medium){
		@include shift(-5.9);
		@include span-columns(5);
		position: relative;
		right: 6px;
		}
	}
