/* ---------- *
 *    MENU    *
 * ---------- */

header {
  text-align: center;
}

.menu {
  background: white;
  border-bottom: 1px solid $border;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  overflow: hidden;
  z-index: 99;

  ul {
    margin: 40px auto;
    width: 100%;
    text-align: center;
  }

  li {
    display: inline;
    margin: 0 .5em;
    text-transform: uppercase;
    &:nth-child(2) {
      margin-right: 4em;
    }
    &:nth-child(3) {
      margin-left: 4em;
    }

    a {
      color: $base;
      font-size: 16px;
      &:hover {
        color: $highlight;
      }
    }
  }
}

.menu--small {
  height: 50px;
    ul {
      margin: 10px auto;
    }
    .logo > h1 {
      padding-top: 10px;
      width: 40px;
    }
}





.logo {
    /* fixed position a zero-height full width container */
    position: fixed;
    top: 0; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 0;
      z-index: 999;
    /* center all inline content */
    text-align: center;
    //display: none;
}

.logo > h1 {
    /* make the block inline */
    padding-top: 20px;
    width: 80px;
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
    //width: 80px;
}
