/* ---------- *
 *    MENU    *
 * ---------- */

header {
  background: white;
  border-bottom: 1px solid $border;
  position: fixed;
  width: 100%;
  top: 0;
  line-height: 50px;
  z-index: 99;
}

.menu {
  @extend .container;
  margin: 0 auto;
  ul {
    margin: 0 auto;
    float: right;
  }

  li {
    display: inline;
    margin-right: 1em;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $base;
      font-size: 15px;
      &:hover {
        color: $highlight;
      }
    }
  }
}

.logo {
  float: left;
  padding-top: 10px;
  width: 40px;
  display: inline-block;
}
