/* ---------- *
 *    MENU    *
 * ---------- */

header {
  background: white;
  border-bottom: 1px solid $border;
  position: fixed;
  width: 100%;
  top: 0;
  line-height: 50px;
  z-index: 99;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.menu {
  @extend .container;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  ul {
    margin: 0 auto;
    width: 100%;
    float: right;
    max-height: 0;
    overflow: hidden;
    @include bp(medium) {
      width: auto;
      margin-right: 1em;
      height: 50px;
    }
  }

  li {
    line-height: 50px;
    width: 100%;
    margin-right: 1em;
    text-transform: uppercase;
    border-top: 1px solid $border;
    @include bp(medium) {
      display: inline;
      border: none;
    }
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      color: $base;
      font-size: 15px;
      &:hover {
        background: $highlight;
        color: white;
      }
      @include bp(medium) {
        display: inline;
        &:hover {
          color: $highlight;
          background: none;
        }
      }
    }
  }
}

.logo {
  float: left;
  padding-top: 12px;
  margin-left: 1em;
  width: 40px;
  height: 50px;
  display: inline-block;
}

//Respsonsive-Nav Specific Styling
.nav-toggle {
	float: right;
	position: relative;
	left: 1em;
	line-height: 50px;
	margin-right: 2em;
	font-size: 18px;
	text-decoration: none;
  color: $base;
	@include bp(medium) {
		display: none;
	}
}

.no-touch .nav-toggle:hover {
  color: $highlight;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden;
  zoom: 1;
	@include bp(medium) {
		max-height: none;
	}
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

//Headroom Settings
.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
