/* ----------- *
 * Page Styles *
 * ----------- */

.page__title {
  text-align: center;
	color: $base;
	text-transform: uppercase;
	font-size: 2.25em;
	letter-spacing: .15em;
  font-style: italic;
  margin: 0 0 1em 0;
}
