/* ---------- *
 *PRICING TABLE*
 * ---------- */

.pricing__portraits {
	@extend %clearfix;
	padding-bottom: 1em;
}

.pricing__weddings {
	@extend %clearfix;
	padding-bottom: 1em;
	padding-top: 2em;
}

.pricing-table {
	@include row(display, ltr);
	@include span-columns(12);
	background: white;
	margin: 0 auto;
	border: 1px solid $border;

	a {
		text-decoration: underline;
	}
}

.pricing-table__header {
	text-align: left;
	color: $highlight;
	margin: .75em 1em .25em;
	font-size: 1.5em;
	font-weight: 600;
}

.pricing-table__list {
	margin: 0 1em 2em;
}

.pricing-table__list-item {
	@include span-columns(8);
	padding: .5em;
	line-height: 1.4;
}

.pricing-table__list-item--price {
	@include span-columns(4);
	text-align: center;
	padding: .5em;
}

.pricing-table__top-row {
	background: white;
	@extend %clearfix;
	padding-bottom: .5em;
}

.pricing-table__odd {
	background: $border;
	@extend %clearfix;
	padding: 0;
}

.pricing-table__even {
	@extend %clearfix;
}

div.pricing-table__list-item--price  {
	padding-top: .5em;
}

.pricing-table__list-item span {
	font-size: 1em;
	line-height: 1.5;
	font-weight: 600;
	@extend %clearfix;
}

.pricing-table__list-item  {
	font-size: 1em;
    @include bp(large) {
    font-size: .85em;
  }
}

.pricing-table__email {
	padding: 1em .5em 0 .5em;
	font-size: 1em;
	@include bp(large) {
		font-size: .85em;
	}
}

//Pricing Additional Information
.pricing__footnotes span {
	font-size: .85em;
	font-weight: 600;
	padding-left: 1em;
	color: $highlight;
	@include bp(extra-large) {
		@include span-columns (2);
		@extend %clearfix;
		position: relative;
		top: .1em;
		line-height: 1.2;
	}

}

.pricing__footnotes ul {
	margin-top: .5em;
	@include bp(extra-large) {
		@include span-columns (10);
		margin-bottom: 2em;
		position: relative;
		top: -.4em;
	}
}

.pricing__footnotes ul li {
	margin: 0 0 1em 1.25em;
	padding: 0;
	list-style-type: lower-roman;
	font-size: .9em;
	line-height: 1.3;
  @include bp(large) {
      font-size: .75em;
  }
}

h4.pricing-table__list-item {
	font-size: 1em;
}
