/* ---------- *
 *   Single   *
 * ---------- */

//Post-Single
.post__intro {
@extend %clearfix;
border-bottom: 2px solid $border;
margin-bottom: 1.5em;
}

.post img{
  margin-bottom: 1.5em;
}

.post__title {
  font-family: $kulturista;
  font-size: 1.5em;
  padding-bottom: .25em;
}

.post__date {
  color: $secondary;
  @include span-columns(12);
  margin: 0;
  padding-bottom: .25em;
}

.post blockquote {
  background: $border;
  margin: 0 .2em 1.5em .2em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 6px solid $secondary;
}
.post blockquote:before {
  color: $secondary;
  content: open-quote;
  font-size: 3.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.post blockquote p {
  display: inline;
}

.post blockquote em {
  color: $shadow--alt;
  font-family: $kulturista;
  display: block;
  margin-top: .25em;
}

.post blockquote em:before {
  content: "\2013";
  margin-right: .2em;
}

.post ul li {
  margin-bottom: .5em;
  list-style: disc;
  list-style-position:inside;
}

.post ul {
  margin-bottom: 1.5em;
}


//Gallery-Single
.gallery-intro {
	@extend %clearfix;
	background: $border;
	padding: 1em;
  margin-bottom: .5em;
}

.gallery-intro__title {
	font-size: 1.5em;
	padding-bottom: .25em;
}

.gallery-intro__location{
	color: $secondary;
	padding-bottom: 0;
}

.gallery-intro__date{
	color: $secondary;
	padding-bottom: 1em;

}

.icon-grid, .single a[rel="prev"], .single a[rel="next"]  {
	font-size: 1em;
  padding: .35em;
  margin-right: .25em;
  background: $shadow;
  color: $secondary;
}

.no-touch .icon-grid:hover, .no-touch .single a[rel="prev"]:hover, .no-touch .single a[rel="next"]:hover {
  background: $secondary;
  color: $background;
}


.gallery-intro div {
	@include span-columns(12);
	padding-bottom: 1em;
	@include bp(medium) {
	 	@include span-columns(4);
	}
}

.gallery-intro__description {
	margin-bottom: 0;
	@include span-columns(12);
	@include bp(medium) {
	    @include span-columns(8);
	}
}

.gallery-intro p {
	margin-bottom:0;
}

.gallery-intro__cat a {
  background: $shadow;
  color: $secondary;
  border: none;
  padding: .25em .5em;
}

.no-touch .gallery-intro__cat a:hover {
  background: $secondary;
  color: $background;
}



.gallery-intro__cat {
padding-bottom: 1em;
}

.gallery-intro__nav {
margin-bottom: .25em;

}

.gallery-intro__nav a{
  border: none;
}

.return-top {
	background: lighten($secondary, 10%);
	color: $background;
	display: block;
	text-align: center;
	width: 100%;
	font-size: .85em;
	cursor: pointer;
	padding: 1em;
	@include bp(large) {
	    padding: .75em;
	}
  &:hover {
  	background: $secondary;
  }
}
