/* ---------- *
 *   Single   *
 * ---------- */


//Post-Single

.post__intro {
@extend %clearfix;
border-bottom: 2px solid $border;
margin-bottom: 1.5em;
}

.post img{
  margin-bottom: 1.5em;
}

.post__title {
  font-family: $kulturista;
  font-size: 1.5em;
  padding-bottom: .25em;
}

.post__date {
  color: $secondary;
  @include span-columns(6);
  margin: 0;
  padding-bottom: .25em;
}

.post__cat {
  @include span-columns(6);
}











//Gallery-Single


.gallery-intro {
	@extend %clearfix;
	background: $border;
	padding: 1em;
  margin-bottom: .5em;
}

.gallery-intro__title {
	font-size: 1.5em;
	padding-bottom: .25em;
}

.gallery-intro__location{
	color: $secondary;
	padding-bottom: 0;
}

.gallery-intro__date{
	color: $secondary;
	padding-bottom: 1em;

}

.icon-grid, .single a[rel="prev"], .single a[rel="next"]  {
	font-size: 1em;
  padding: .35em;
  margin-right: .25em;
  background: $shadow;
  color: $secondary;
	&:hover {
    background: $secondary;
		color: $background;
	}
}

.gallery-intro div {
	@include span-columns(12);
	padding-bottom: 1em;
	@include bp(medium) {
	 	@include span-columns(4);
	}
}

.gallery-intro__description {
	margin-bottom: 0;
	@include span-columns(12);
	@include bp(medium) {
	    @include span-columns(8);
	}
}

.gallery-intro p {
	margin-bottom:0;
}

.gallery-intro__cat a {
  background: $shadow;
  color: $secondary;
  border: none;
  padding: .25em .5em;
  &:hover {
    background: $secondary;
    color: $background;
  }
}

.gallery-intro__cat {
padding-bottom: 1em;
}

.gallery-intro__nav {
margin-bottom: .25em;

}

.gallery-intro__nav a{
  border: none;
}

.return-top {
	background: lighten($secondary, 10%);
	color: $background;
	display: block;
	text-align: center;
	width: 100%;
	font-size: .85em;
	cursor: pointer;
	padding: 1em;
	@include bp(large) {
	    padding: .75em;
	}
  &:hover {
  	background: $secondary;
  }
}
