/* ---------- *
 *   Single   *
 * ---------- */

//Gallery-Single
.gallery-intro {
	@extend %clearfix;
	background: white;
  border: 1px solid $border;
	padding: 1em;
  margin-bottom: .5em;
	.gallery-intro__description a {
		text-decoration: underline;
	}
}

.gallery-intro__title {
	font-size: 1.5em;
	padding-bottom: .25em;
}

.gallery-intro__location{
	padding-bottom: .5em;
}

.icon-grid, .single a[rel="prev"], .single a[rel="next"]  {
  padding: .35em;
  margin-right: .25em;
  background: $border;
  color: $base;
}

.no-touch .icon-grid:hover, .no-touch .single a[rel="prev"]:hover, .no-touch .single a[rel="next"]:hover {
  background: $highlight;
  color: $background;
}

.gallery-intro div {
	@include span-columns(12);
	padding-bottom: 1em;
	@include bp(medium) {
	 	@include span-columns(4);
	}
}

.gallery-intro__description {
	margin-bottom: 0;
	@include span-columns(12);
	@include bp(medium) {
	    @include span-columns(8);
	}
}

.gallery-intro p {
	margin-bottom:0;
}

.gallery-intro__cat a {
  background: $border;
  color: $base;
  border: none;
  padding: .25em .5em;
	text-transform: capitalize;
}

.no-touch .gallery-intro__cat a:hover {
  background: $highlight;
  color: $background;
}

.gallery-intro__cat {
	padding-bottom: 1em;
	font-size: 1em;
}

.gallery-intro__nav {
	margin-bottom: .25em;
}

.gallery-intro__nav a{
  border: none;
}

//Return to top button
.footroom {
	position: fixed;
	bottom: 16px;
	right: 16px;
	-webkit-transform: translateZ(0);
	transform: translateY(80px);
	-webkit-backface-visibility: hidden;
	transition: all 0.3s ease-in-out;
	font-family: "icons";
	color: $base;
	background: white;
	padding: .5em;
	border: 1px solid $border;
	cursor: pointer;
	font-size: 20px;
}

.no-touch .footroom:hover {
	background: $highlight;
	color: white;
}

.footroom--pinned {
  transform: translateY(0);
}

.footroom--unpinned {
  transform: translateY(80px);
}

.footroom--top {
	  transform: translateY(80px);
}
