/* ---------- *
 *   SLIDER   *
 * ---------- */

.slider {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.slide {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
