/* ------- *
 *  LINKS  *
 * ------- */

a {
	text-decoration: none;
  border: none;
}

p a {
	color: $highlight;
	&:hover {
		color: darken( $highlight, 5% );
		border-bottom: 1px dotted darken ($highlight, 5%);
	}
}
