/* ------- *
 *   Main  *
 * ------- */

//container
.container {
  padding: 0 1em;
  max-width: 750px;
  @include bp(large) {
      max-width: 850px;
  }
  @include bp(extra-large) {
      max-width: 950px;
  }
}

.content {
	margin: 2.5em auto;
  padding-top: 50px;
	@extend %clearfix;
  @extend .container;
}

.home .content {
    padding-top: 0;
}

body {
	background: $background;
	color: $base;
}

::-moz-selection {
	background: $border; /* Firefox */
}

::selection {
	background: $border; /* Safari */
}
