/* ---------- *
 *    ABOUT   *
 * ---------- */

//General About Styles
.page-about {
	@extend %clearfix;
	h3 {
		font-size: 1.5em;
	}
	img {
		margin-bottom: 1em;
	}
	strong {
		font-weight: bold;
	}
	@extend .page-template-Pricing-Sub;
}
