/* ---------- *
 *    ABOUT   *
 * ---------- */

//General About Styles
.about-container {
	@extend %clearfix;
	@include outer-container;
	a {
		text-decoration: underline;
	}
	h3 {
		font-style: italic;
		font-size: 1.5em;
		margin-top: .5em;
	}
}

.about-collage {
	margin-bottom: 1em;
	@include bp(medium) {
	   margin-bottom: 0;
	}
}
.about-collage:last-child {
	margin-bottom: 0;
}

//Biography Section
.about-collage--bio {
	padding: 1em 1.25em;
	background: white;
	border: 1px solid $border;
	p {
		margin-bottom: .5em;
	}
	& p:nth-child(2) {
		margin-right: 0;
	}
	@include bp(medium) {
		p {
			@include span-columns(6);
		}
	}
}

//Drop Cap
.about-collage--bio span {
	font-family: $serif;
	position: relative;
	top: .05em;
	font-size: 4.5em;
	padding-right: .15em;
	margin: 0;
	line-height: .85;
	float: left;
}

//Portrait Image
.about-collage--portrait {
	margin-bottom: 1em;
	img {
		margin-bottom: -3px;
	}
}
