/* ---------- *
 *  Homepage  *
 * ---------- */

.home {
	text-align: center;
	p {
		margin-bottom: 0;
	}
	p a {
			text-decoration: underline;
		}
}

.home .content {
		padding-top: 7em;
		margin: -3em auto 3.5em;
		@include bp(small) {
			padding-top: 7em;
			margin: -2.7em auto 3.5em;
		}
		@include bp(medium) {
			padding-top: 3.5em;
			margin: 0 auto 3.5em;
		}
}

.home .btn {
	margin-top: 1em;
}

.logo--full {
	margin: auto;
  position: absolute;
	z-index: 2;
  top: 51px; left: 0; bottom: 0; right: 0;
	width: 150px;
	@include bp(medium) {
		width: 200px;
	}
	@include bp(extra-large) {
		width: 250px;
	}
}

.scroll-down {
	z-index: 2;
	position: absolute;
	left: 50%;
  transform: translate(-50%,0);
	bottom: 1.5em;
	margin: 0 auto;
	text-align: center;
	opacity: .75;
	h3 {

	}
	span {
		font-size: 1.5em;
		display: none;
	}
	&:hover {
		opacity: 1;
	}
}

.btn--explore {
	@extend p;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	font-family: $sans;
}

//Quote on homepage
.quote {
	font-family: $serif;
	font-size: 1.5em;
	line-height: 1.4;
	font-style: italic;
	text-align: center;
	margin-bottom: 2em;
	border-top: 2px solid darken($border, 5%);
	border-bottom: 2px solid darken($border, 5%);
	padding: 1em 0;
}

.recent-work {
	margin-bottom: 1em;
	font-weight: 600;
	font-family: $sans;
	color: $tertiary;
}

.social-aside {
	margin: 1em 0;
}
