/* ------- *
 *  Shame *
 * ------- */

.about-collage--map__img {
	padding-bottom: 139%;
}

textarea { overflow: auto!important; }

.gallery-list__image {
	width: 33%;
}

.thumbnail__title {
	display: none!important;
}
