/* ---------- *
 *  Variables *
 * ---------- */


//Colors
$base: #4c4c4c;        // dark gray
$secondary: #877a7f;   // Purple Gray
$highlight: #bea15f;   // Yellow  
$tertiary: #808080;    // copyright gray
$border: #ded8d4;      // darker offwhite
$background: #edece8;  // offwhtie
$shadow: #cdc3bb;      // darker version of border


//Font Families

$freight-sans: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$kulturista: "kulturista-web", Georgia, serif;