/* ---------- *
 *  Variables *
 * ---------- */


//Colors
$highlight: #a3b0b2;   // Green/Blue
$base: #1a1919;        // Dark gray
$tertiary: #808080;    // Copyright gray
$border: #eeeeee;      // Darker offwhite
$background: #f5f5f5;  // Offwhtie

//Font Families
$sans: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "freight-big-pro", Georgia, serif;
